
  
  .textWrapper {
    margin: 0 10rem;

    .leistungenTitle {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  
    .leistungenText {
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 5rem;
    }
  }

  
  .imgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  
    img {
      max-width: 600px;
      width: 100%;
      height: auto;
    }
  }
  
  /* Responsive Anpassungen */
  @media (max-width: 768px) {
    .section {
      padding: 2rem 1rem;
    }
  
    .heading {
      font-size: 1.6rem;
    }
  
    .leistungenTitle {
      font-size: 1.6rem;
    }
  
    .leistungenText {
      font-size: 1.4rem;
    }
  }
  