  
  .textWrapper {
    margin: 0;

    .leistungenTitle {
      margin-bottom: 0.75rem;
    }
  
    .leistungenText {
      font-size: 1.4rem;
      line-height: 1.6;
      margin-bottom: 6rem;
    }
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  
    img {
      max-width: 600px;
      width: 100%;
      height: auto;
    }
  }
  
  /* Responsive Anpassungen */
  @media (max-width: 768px) {
    .section {
      padding: 2rem 0;
    }
  
    .leistungenText {
      font-size: 1rem;
    }
  }
  