.latest-wrapper {
  margin-top: 4rem;
  padding-bottom: 1rem;

  @media (max-width: 48rem) {
    margin-top: 2rem;  
  }
}

.slider-block {
  margin-bottom: 3rem;

  @media (max-width: 48rem) {
    margin-bottom: 3rem;
  }
}