.bio-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;

  @media (max-width: 53.125rem) {
    margin: 0 0 3rem 0;
  }

  p {
    line-height: 1.6;
    font-size: 1.4rem;
  }
}
  
  
.timeline-wrapper {
  margin: 4rem 0 0 0;

  @media (max-width: 53.125rem) {
    padding-right: 0;
  }
}
  
.timeline-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  @media (max-width: 53.125rem) {
    flex-direction: column;
    gap: 2rem;
  }
}
  
.timeline-column {
  flex: 1 1 40rem;
  max-width: 120rem;

  @media (max-width: 53.125rem) {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
  
.timeline-box {
  position: relative;
  border-left: 0.125rem solid var(--color-accent);
  padding-bottom: 0.5rem;

  @media (max-width: 53.125rem) {
    border-left: none;
    border-top: 0.125rem solid var(--color-accent);
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.timeline-item {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 3rem;

  @media (max-width: 53.125rem) {
    padding-left: 2rem;
    margin-bottom: 2.2rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0.35em;
    left: -0.6875rem;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--color-accent);
    border-radius: 50%;

    @media (max-width: 53.125rem) {
      left: 0;
      top: 0.35em;
      width: 1rem;
      height: 1rem;
    }
  }
}

.timeline-content {
  position: relative;
  border-radius: 0.375rem;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 0 0 3rem;

  @media (max-width: 53.125rem) {
    padding: 0;
  }

  p {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
  }
}
  

  