
  
  .imgWrapper {
    display: flex;
    justify-content: center;
  
    .descriptionBio {
      line-height: 1.6;
    }
  
    .profileImage {
      width: 25rem;
      padding-left: 2rem;
      object-fit: cover;
    }
  
    @media (max-width: 850px) {
      flex-direction: column;
      padding-top: 0;
  
      .profileImage {
        padding-left: 0;
        padding-top: 7rem;
        width: 20rem;
      }
  
      .descriptionBio {
        padding-top: 4rem;
        font-size: 1.5rem;
      }
    }
  
    @media (max-width: 462px) {
      .profileImage {
        width: 15rem;
      }
  
      .descriptionBio {
        font-size: 1.3rem;
      }
    }
  }
  
  .wrapperContent {
    display: flex;
    align-items: center;
    margin-top: 12rem;
    padding-right: 12rem;
  
    @media (max-width: 850px) {
      padding-right: 0;
    }
  }
  
  .educationRow {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  
    @media (max-width: 850px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  
  .educationColumn {
    flex: 1 1 40rem;
    max-width: 120rem;
  
    @media (max-width: 850px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
  .educationBox {
    position: relative;
    border-left: 0.2rem solid var(--color-accent);
  
    @media (max-width: 850px) {
      border-left: none;
      border-top: 0.2rem solid var(--color-accent);
      padding-top: 2rem;
    }
  }
  
  .educationContent {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1.1rem;
      width: 2rem;
      height: 2rem;
      background: var(--color-accent);
      border-radius: 50%;
  
      @media (max-width: 850px) {
        left: 0;
        top: -0.5rem;
      }
    }
  
    .content {
      position: relative;
      border-radius: 0.6rem;
      margin-bottom: 5rem;
      overflow: hidden;
      padding: 1rem;
      background-color: #f9f9f9;
  
      @media (max-width: 850px) {
        margin-bottom: 3rem;
      }
  
      p {
        font-size: 1.6rem;
        color: var(--color-text-secondary);
  
        @media (max-width: 1200px) {
          font-size: 1.4rem;
        }
  
        @media (max-width: 520px) {
          font-size: 1.2rem;
        }
      }
    }
  }
  

  