.footer {
  background-color: var(--color-surface);
  color: var(--color-text-tertiary);
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .wrapper {
    max-width: var(--container-max);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    position: static;
  }
}

.contact-text {
  position: relative;
  margin-left: auto;

  p {
    line-height: 1.6;
    font-size: 1.4rem;
  }
}

.contact-paragraph {
  text-align: end;
}

.brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    width: 6.25rem; // 100px
    height: 5.625rem; // 90px
  }

  :global(.st1) {
    stroke: var(--color-accent) !important;
  }
}

.privacy-link {
  position: absolute;
  right: 0;
  bottom: 0;

  a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
  }
}


@media (max-width: 35.625rem) {
  // 570px
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .privacy-link {
    position: static;
    right: auto;
    bottom: auto;
    margin-left: 0;
  }

  .contact-paragraph {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}