.wrapper {
  width: 100%;

  :global(.swiper-slide) img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.container {
  width: 100%;
  height: auto;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    color: var(--color-text-tertiary) !important;
  }

  :global(.swiper-pagination-bullet) {
    background: var(--color-text-tertiary) !important;
  }
}

.media-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.caption {
  margin-top: 0.75rem;
  color: var(--color-accent);
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
}
