/* globals.scss */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* -- SCSS-Variablen (Build-Time) -- */
$color-bg: #ededed;
$color-bg-secondary:  #555555;
$color-text: white;
$color-text-secondary: #555555;
$color-text-tertiary: #FF6B6B;
$color-main: #FF6B6B;
$color-accent: #FF6B6B;

/* -- CSS Custom Properties (Run-Time) -- */
:root {
  --color-bg: #{$color-bg};
  --color-bg-secondary: #{$color-bg-secondary};
  --color-text: #{$color-text};
  --color-text-secondary: #{$color-text-secondary};
  --color-text-tertiary: #{$color-text-tertiary};
  --color-main: #{$color-main};
  --color-accent: #{$color-accent};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;  
  background-color: var(--color-bg);
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  width: 100%;
  color: var(--color-text-secondary);
  scroll-margin-top: 190px;
}

h2 {
  color: var(--color-text-tertiary);
  margin: 7rem 0;
  font-weight: normal;
}

p {
  font-size: 1.4rem !important;
}


a {
  color: inherit;            
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: var(--color-accent);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: disc;
  padding-left: 2rem;
}


.swiper-button-prev, .swiper-button-next {
  color: var(--color-text-tertiary)!important;

}

.swiper-pagination-bullet {
  background: var(--color-text-tertiary)!important;
}

@media (max-width: 1500px) {
  section {
    padding: 0 2rem;
  }  
}


